@import 'tailwindcss';

@font-face {
  font-family: Stardom;
  font-style: normal;
  src: url('/fonts/Stardom/Regular.woff2') format('woff2');
}

@theme {
  --font-display: 'Stardom';
}

html,
body {
  background-color: black;
  color: rgba(255, 255, 255, 0.85);
}
