# Interface for the server to run on.
HOST="127.0.0.1:8340"

# Origin domain is used for CORS and passkey.
ORIGIN_DOMAIN="https://koii.space"

# File path for SSL when hosting in secure context.
SSL_CERT="cf-ocert.pem"
SSL_KEY="cf-okey.pem"

# File path for jsonwebtoken to encrypt in ES256.
JWT_PUBLIC="public.kc.pem"
JWT_PRIVATE="private.kc.pem"

# Databases and API tokens.
MONGODB_CONNECTION="mongodb://127.0.0.1:27017/?directConnection=true&serverSelectionTimeoutMS=2000"
REDIS_HOST="redis://127.0.0.1:6379"

# 3rd-party API secrets.
TURNSTILE_SECRET="unknown"
RESEND_TOKEN="unknown"

# Time based configs (in seconds).
TOKEN_MAX_AGE=1800
REFRESH_MAX_AGE=1296000
SUDO_MAX_AGE=300
EMAIL_VERIFY_EXPIRE=600
ACCOUNT_DELETE_WINDOW=2592000
TOTP_CODE_VOID_WINDOW=90

# Argon2id config.
ARGON2_MEMORY_COST=131072 # 128 mb
ARGON2_PARALLELISM_COST=1
ARGON2_TIME_COST=5
ARGON2_OUTPUT_LENGTH=64 # 64 bytes

# Random generation lengths.
ACCOUNT_ID_LENGTH=64
ACCOUNT_TOKEN_IDENTIFIER_LENGTH=32
EMAIL_VERIFY_CODE_LENGTH=64
TOTP_SECRET_LENGTH=128